/*

------------------- Table of content --------------------------------

---------------------- common content -----------------------
1. body reset content


---------------------- element content ---------------------------



*/

// variable
@import 'variable/_variable.scss';

// mixin
@import 'mixin/_mixin.scss';

// function
@import 'function/_function.scss';

/*=================================================
    1. body reset content
==============================================================*/
@import 'reset/_predefine.scss';


/*------------------------------------- content end ---------------------------------------*/

/*-------------------------------------- element start ----------------------------------------*/

/*=================================================
    element inheritance
==============================================================*/
@import 'reset/_inheritance.scss';


    @font-face {
        font-family: 'sf_pro_displayregular';
        src: url('../fonts/sf-pro-display-regular-webfont.woff2') format('woff2'),
             url('../fonts/sf-pro-display-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

    @font-face {
        font-family: 'sf_pro_displaybold';
        src: url('../fonts/sf-pro-display-bold-webfont.woff2') format('woff2'),
             url('../fonts/sf-pro-display-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }


    .cookcodesmenu_menu {
        display: none !important;
    }
.acurate{
    margin: 0;
    padding: 0;
}


 .header-top-area{
     padding: 40px 0 85px;
     background: $primary-color;
     .logo{
         a{
             display: block;
         }
     }
     .logo-right{
         text-align: right;
         a{
             display: block;
         }
     }
 }   

 @media (max-width: 767px) {
    .logo,
    .header-top-area .logo-right{
        text-align: center;
        margin: 10px 0;
    }
}

.header-area{
    position: relative;
    .main-header{
        .menu-area{
            position: absolute;
            left: 15px;
            right: 0;
            width: 100%;
            bottom: -32px;
            background: #fff;
            .main-menu{
                position: relative;
                &:after{
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-left: 50px solid $primary-color;
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: 44px;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    text-align: center;
                    li{
                        display: inline-block;
                        a{
                            display: block;
                            font-size: 18px;
                            color: #333;
                            text-transform: uppercase;
                            padding: 30px 42px;
                            font-weight: 900;
                            transition: $transition;
                            letter-spacing: 4px;
                            font-family: 'sf_pro_displaybold';
                            &:hover{
                                color: $secondary-color;
                                transition: $transition;
                            }
                        }
                    }
                }
            }
            .header-right{
                text-align: right;
                margin-top: 15px;
                a{
                    display: inline-block;
                    padding: 15px 40px;
                    background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
                    text-transform: uppercase;
                    font-weight: 800;
                    color: #fff;
                    font-size: 16px;
                    transition: all 0.3s ease-in-out;
                    letter-spacing: 2px;
                    &:hover{
                        background-image: linear-gradient(to right, #ff3366, #ff5460, #ff6e5e, #ff8460, #ff3366);
                        transition: $transition;
                    }


                }
            }
        }
    }
}
@media (max-width: 991px) {
    .header-area .main-header .menu-area .header-right{
        text-align: center;
    }
    .cookcodesmenu_menu {
        display: block !important;
    }
}
.main-content-area{
    margin-top: 31px;
    position: relative;    
    &:after{
        background: $primary-color;
        width: 550px;
        content: "";
        position: absolute;
        left: -2px;
        top: -70px;
        z-index: -1;
        background-repeat: no-repeat;
        height: 1100px;
        background-size: cover;
        background-position: 0 0;

    }
    &:before{
        background: url(../images/first-line.svg);
        width: 40%;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -55%;
        z-index: -1;
        background-repeat: no-repeat;
        height: 2500px;
        background-size: cover;
        background-position: center center;
        margin: 0 auto;

    }
    .content-wrapper{
        position: relative; 
        .web2{
            position: absolute;
            left: -5%;
            top: 35%;
        }       
        &:before{
            background: url(../images/startup.svg);
            width: 100%;
            content: "";
            position: absolute;
            left: -15%;
            right: 0;
            bottom: -85%;
            z-index: -1;
            background-repeat: no-repeat;
            height: 600px;
        }
        .banner-text{
            position: relative;
            .round2{
                position: absolute;
                left: 85px;
                bottom: 85px;
                z-index: 999;
                width: 5%;
            }
            .square{
                position: absolute;
                left: 26px;
                bottom: -136px;
                z-index: 0;
            }
            .white{
                position: absolute;
                left: 26px;
                bottom: -260px;
                z-index: 0;
            }
            .shape{
                position: absolute;
                bottom: -95%;
                z-index: 0;
                width: 15%;
                left: 270px;
            }
            .content{
                padding:200px 130px 150px;
                background-image: linear-gradient(to right, #ff3366, #ff5460, #ff6e5e, #ff8460, #ff9966);
                clip-path: polygon(100% 0, 100% 54%, 62% 99%, 20% 100%, 0% 80%, 0 0);
                color: #fff;    
                margin-left: 13%;
                position: relative;
                h2{
                    font-size: 66px;
                    font-weight: bold;
                    font-family: 'sf_pro_displaybold';
                    letter-spacing: 3px;
                }
                p{
                    font-size: 48px;
                    font-weight: 300;
                    font-family: 'sf_pro_displaybold';
                    letter-spacing: 3px;
                    strong{
                        font-weight: 800;
                        letter-spacing: 3px;
                    }
                }
            }
            .right-content{
                margin-top: 200px;
                margin-left: 150px;
                .child{
                    width: 20%;
                    position: absolute;
                    top: 34px;
                    right: 34px;
                }
                img{
                    width: 100%;
                }
                .button{
                    margin-top: 205px;
                    a{
                        display: inline-block;
                        padding: 9px 30px;
                        background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
                        text-transform: uppercase;
                        font-weight: 500;
                        color: #fff;
                        font-size: 15px;
                        transition: $transition;
                        &:hover{
                            background-image: linear-gradient(to right, #ff3366, #ff5460, #ff6e5e, #ff8460, #ff3366);
                            transition: $transition;
                        }
    
    
                    }
                }
            }
        }
    }
}
@media (max-width: 1600px) {
    .main-content-area .content-wrapper .banner-text .content h2 {
        font-size: 42px;
        font-weight: 800;
    }
    .main-content-area .content-wrapper .banner-text .content p {
        font-size: 30px;
        font-weight: 300;
    }
    .main-content-area .content-wrapper .banner-text .right-content p {
        font-size: 30px;
    }
    .main-content-area .content-wrapper .banner-text .right-content {
        margin-top: 100px;
        margin-left: 120px;
    }
    .main-content-area .content-wrapper .banner-text .right-content .button a {
        padding: 9px;
        font-size: 14px;
    }
}
@media (max-width: 1200px) {
    .main-content-area .content-wrapper .banner-text .content {
        padding: 112px 60px 100px;
    }
    .main-content-area .content-wrapper .banner-text .content h2 {
        font-size: 22px;
        font-weight: 800;
    }
    .main-content-area .content-wrapper .banner-text .content p {
        font-size: 18px;
        font-weight: 300;
    }
    .main-content-area .content-wrapper .banner-text .right-content p {
        font-size: 20px;
    }
    .main-content-area .content-wrapper .banner-text .right-content {
        margin-top: 100px;
        margin-left: 68px;
    }
    .main-content-area .content-wrapper .banner-text .right-content .button a {
        padding: 9px;
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .main-content-area .content-wrapper .banner-text .content {
        padding: 112px 60px 100px;
        text-align: center;
    }
    .main-content-area .content-wrapper .banner-text .right-content {
        margin-top: 100px;
        margin-left: 0;
        text-align: center;
    }
    .main-content-area .content-wrapper .banner-text .right-content p {
        font-size: 48px;
    }
    .main-content-area .content-wrapper .banner-text .right-content .button {
        margin-top: 30px;
    }
    .main-content-area .content-wrapper .banner-text .content h2 {
        font-size: 36px;
        font-weight: 800;
    }
    .header-area .main-header .menu-area .header-right {
        margin: 15px 0;
    }
}
@media (max-width: 767px) {
    .main-content-area .content-wrapper .banner-text .content {
        padding: 20px;
        text-align: center;
    }
    .main-content-area .content-wrapper .banner-text .right-content {
        margin-top: 100px;
        margin-left: 0;
        text-align: center;
    }
    .main-content-area .content-wrapper .banner-text .right-content p {
        font-size: 28px;
    }
    .main-content-area .content-wrapper .banner-text .right-content .button {
        margin-top: 30px;
    }
    .main-content-area .content-wrapper .banner-text .content h2 {
        font-size: 20px;
        font-weight: 800;
    }
    .header-area .main-header .menu-area .header-right {
        margin: 15px 0;
    }
}
.the-page-startup-area{
    margin-bottom: 00px;
    margin-top: 200px;
    position: relative;
    .acurate{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }
    .section{
        padding-top: 0px;
        h2{
            font-size: 120px;
            color: #5321F7;
            margin-bottom: 0px;
        }
    }
    .startup-content{
        margin-top: 200px;
        h3{
            font-size: 80px;
            color: #5321F7;
            margin-bottom: 100px;
            margin-top: 60px;
        }
    }
    .image{
        position: absolute;
        right: -10%;
        top: -17%;
        img{
            width: 100%;
            height: 1200px;
        }
    }
}
.counter-area{
    padding: 100px 0 300px;
    position: relative;
    &:before{
        background: url(../images/second-image.svg);
        width: 33%;
        content: "";
        position: absolute;
        right: 6%;
        top: -44px;
        z-index: -1;
        background-repeat: no-repeat;
        height: 1247px;
        background-size: cover;
        background-position: center center;

    }
    .single-counter{
        padding: 30px 0;
        h3{
            font-size: 107px;
            margin-bottom: 20px;
            color: $secondary-color;
            font-weight: 100;
        }
        p{
            font-size: 30px;
            color: #A5A5A5;
            line-height: 40px;
            font-weight: 100;
        }
    }
    
    .button{
        margin-top: 100px;
        a{
            display: inline-block;
            padding: 9px 30px;
            background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            font-size: 15px;
            transition: $transition;
            &:hover{
                background-image: linear-gradient(to right, #ff3366, #ff5460, #ff6e5e, #ff8460, #ff3366);
                transition: $transition;
            }


        }
    }
}

.speaker-area{
    position: relative;
    background-image: linear-gradient(to top, #241354, #30187a, #3b1ca2, #471fcc, #5321f7);
    padding: 60px 0 200px 0;
    &:before{
        clip-path: polygon(50% 0%, 100% 36%, 100% 100%, 0 98%, 0% 75%, 0 0);
        background: #1F1144;
        height: 534px;
        width: 357px;
        position: absolute;
        top: -345px;
        left: 0;
        content: "";
    }
    &:after{        
        background:url(../images/dot.svg) no-repeat;
        height:200px;
        width: 200px;
        position: absolute;
        bottom: 100px;
        right: 100px;
        content: "";
    }
    .section-title{
        clip-path: polygon(50% 0%, 100% 36%, 100% 100%, 0 98%, 0% 75%, 0 0);       
        background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
        display: inline-block;
        height: 300px;
        width: 300px;
        padding: 70px 0;
        position: absolute;
        top: -108px;        
        h2{
            color: #fff;
            padding: 30px;
            line-height: 50px;
        }
    }
    .section-image{
        text-align: right;
        padding-top: 100px;
    }
    .single-speaker{
        margin: 40px 30px;
        .image{
            width: 100%;
            height: 300px;
            background: #330099;
            position: relative;
            &.left{
                position: relative;
                &:after{
                    width: 0;
                    height: 0;
                    border-bottom: 50px solid transparent;
                    border-left: 50px solid #441ebf;
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 0;
                    z-index: 9;
                }
            }
            &.top-right{
                position: relative;
                &:after{
                    width: 0;
                    height: 0;
                    border-bottom: 50px solid transparent;
                    border-right: 50px solid #441ebf;
                    content: "";
                    position: absolute;
                    right: 0px;
                    top: 0;
                    z-index: 9;
                }
            }
        }
        .content{
            background: #6633ff;
            padding: 30px;
            position: relative;
            &.buttom{
                position: relative;
                &:after{
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-right: 50px solid #2f1878;
                    content: "";
                    position: absolute;
                    right:0px;
                    bottom: 0px;
                }
            }
            &.buttom-left{
                position: relative;
                &:after{
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-left: 50px solid #2f1878;
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                }
            }
            h3{
                color: #fff;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 50px;
                letter-spacing: 3px;
            }
            p{
                font-size: 18px;
                color: #fff;
                font-weight: 700;
                letter-spacing: 3px;
            }
        }
    }
    .see-more{
        margin-top: 60px;
        a{
            padding: 10px 65px;
            border: 2px solid #fff;
            color: #fff;
            font-size: 16px;
            line-height: 1.5;
            box-shadow: 0px 5px 17px rgba(102, 51, 255,.9);
        }
    }
    .button{
        margin-top: 75px;
        a{
            display: inline-block;
            padding: 9px 30px;
            background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            font-size: 15px;
            transition: $transition;
            &:hover{
                background-image: linear-gradient(to right, #ff3366, #ff5460, #ff6e5e, #ff8460, #ff3366);
                transition: $transition;
            }


        }
    }
}

.sponser-area{
    padding: 0 0 300px 0;
    position: relative;
    &:before{
        clip-path: polygon(100% 0, 100% 71%, 51% 96%, 0 98%, 0% 75%, 0 0); 
        background: #1F1144;
        height: 534px;
        width: 357px;
        position: absolute;
        top: 0px;
        left: 0;
        content: "";
    }
    &:after{
        background: url(../images/line-three.svg);
        width: 33%;
        content: "";
        position: absolute;
        right: 10%;
        top: -100%;
        z-index: -1;
        background-repeat: no-repeat;
        height: 2000px;
        background-size: cover;
        background-position: center center;
    }
    .section-title{
        clip-path: polygon(100% 0, 100% 71%, 51% 96%, 0 98%, 0% 75%, 0 0);    
        background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
        display: inline-block;
        height: 300px;
        width: 300px;
        padding: 70px 0;
        position: absolute;
        top:0px;        
        h2{
            color: #fff;
            padding: 30px;
            line-height: 50px;
        }
    }
    .logo-area{
        margin-top: 300px;
        .single-logo{
            margin: 30px;
        }
    }
    .button{
        margin-top: 100px;
        a{
            display: inline-block;
            padding: 9px 30px;
            background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            font-size: 15px;
            transition: $transition;
            &:hover{
                background-image: linear-gradient(to right, #ff3366, #ff5460, #ff6e5e, #ff8460, #ff3366);
                transition: $transition;
            }


        }
    }
}
.what-others-saying-area{
    padding: 100px 0 300px;
    background: #f7f7f7;  
    position: relative; 
    &:before{
        clip-path: polygon(40% 0, 100% 0, 100% 35%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 40%);
        background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
        height: 400px;
        width: 357px;
        position: absolute;
        top: -250px;
        right: 0;
        content: "";
    } 
    .section-title{  
        margin-bottom: 80px;      
        h2{
            color: #5826ff;
            line-height: 70px;
            font-size: 80px;
            font-weight: 400;
            strong{
                font-weight: 600;
            }
        }
    }
    .testimonial-slider{
        position: relative;
        &:after{        
            background:url(../images/blue-dot.svg) no-repeat;
            height:200px;
            width: 200px;
            position: absolute;
            bottom: -300px;
            left: 0px;
            content: "";
        }
        .single-testimonial{
            box-shadow: 0px 3px 7px rgba(0, 0, 0,.2);
            margin: 15px 10px;
            .image{
                width: 100%;
                height: 250px;
                background: #5826FF;
            }
            .content{
                padding: 30px;
                background: #fff;
                h2{
                    font-weight: 800;
                    font-size: 30px;
                    color: #5826FF;
                }
                span{
                    font-weight: 300;
                    font-size: 22px;
                    color: #5826FF;
                }
                p{
                    padding: 60px 0 5px;
                }
                .social-icon{
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            display: inline-block;
                            margin: 3px;
                            a{
                                display: block;
                                i{
                                    font-size: 36px;
                                    color: #5826FF;
                                }
                            }
                        }
                    }
                }
            }
        }
        .owl-nav {
            display: block;
            .owl-prev{
                width:100px;
                height:100px;       
                font-size:30px;
                clip-path: polygon(40% 0, 100% 0, 100% 64%, 75% 100%, 20% 100%, 0 100%, 0 0);
                background: #5321F7;
                color:#ffffff;
                position: absolute;
                left:-150px;
                top:50%;
                transform: translateY(-50%);
                @include transition(all .3s);
                i{
                    font-size: 30px;
                    color: #ddd;
                }
                &:hover{
                    color: $primary-color;
                }
            }
            .owl-next{
                width:100px;
                height:100px;       
                font-size:30px;
                clip-path: polygon(40% 0, 100% 0, 100% 100%, 75% 100%, 32% 100%, 0 66%, 0 0);
                background: #5321F7;
                color:#ffffff;
                position: absolute;
                right:-150px;
                top:50%;
                transform: translateY(-50%);
                @include transition(all .3s);
                i{
                    font-size: 30px;
                    color: #ddd;
                }
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }    
    .button{
        margin-top: 100px;
        a{
            display: inline-block;
            padding: 9px 30px;
            background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            font-size: 15px;
            transition: $transition;
            &:hover{
                background-image: linear-gradient(to right, #ff3366, #ff5460, #ff6e5e, #ff8460, #ff3366);
                transition: $transition;
            }


        }
    }
}

.past-editions-area{
    position: relative;
    background-image: linear-gradient(to top, #000000, #270619, #3f0037, #4b0061, #371997);
    padding: 0px 0 400px;
    &:after{
        clip-path: polygon(40% 0, 100% 0, 100% 100%, 75% 100%, 32% 100%, 0 64%, 0 0);
        background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
        height: 400px;
        width: 357px;
        position: absolute;
        bottom: 170px;
        right: 10.8%;
        content: "";
    }


    .section-title{
        clip-path: polygon(50% 0%, 100% 36%, 100% 100%, 0 98%, 0% 75%, 0 0);       
        background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
        display: inline-block;
        height: 300px;
        width: 300px;
        padding: 70px 0;
        position: absolute;
        top: -108px;        
        h2{
            color: #fff;
            padding: 30px;
            line-height: 50px;
        }
    } 
    .section-img{
        position: absolute;
        top: -100px;
        right: 0;
        content: "";
        text-align: right;
        img{
            width: 50%;
        }
    }
    .ceo-man{
        margin-top: 200px;
        .image-height{
            overflow: hidden;
            height: 372px;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    float: left;
                    width: 50%;
                }
            }
        }
    }
    .image{
        img{
            width: 100%;
        }
        .round-image{
            position: absolute;
            bottom: -60px;
            right: -60px;
            z-index: 99;
        }
    }
    .image-dot{
        margin-top: 150px;
    }
    .image-height2{
        height: 490px;
    }
}
.video-background{
    padding: 300px 0;
    background-size: cover;
    background-repeat: no-repeat;
}    

.subscribe-area{
    background-image: linear-gradient(to top, #241354, #30187a, #3b1ca2, #471fcc, #5321f7);
    padding: 100px 0;
    position: relative;
    &:after{
        clip-path: polygon(20% 0%, 67% 0, 100% 32%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
        background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
        height: 500px;
        width: 350px;
        position: absolute;
        bottom: 0px;
        left: 0;
        content: "";
    }
    .button{
        margin: 30px 0 100px;
        a{
            display: inline-block;
            padding: 15px 40px;
            background-image: linear-gradient(to right, #ff9966, #ff8460, #ff6e5e, #ff5460, #ff3366);
            text-transform: uppercase;
            font-weight: 800;
            color: #fff;
            font-size: 16px;
            transition: all 0.3s ease-in-out;
            letter-spacing: 2px;
            &:hover{
                background-image: linear-gradient(to right, #ff3366, #ff5460, #ff6e5e, #ff8460, #ff3366);
                transition: $transition;
            }
    
        }
    }
    .footer-logo{
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .footer-round{
        .round-shape{
            position: absolute;
            right: 0;
            top: 0;
            width: 10%;
        }
    }
    .subscribe{
        h4{
            font-size: 36px;
            color: #fff;
            margin-bottom: 40px;
            strong{
                font-weight: 700;
            }
        }
        form{
            position: relative;
            input[type="text"]{
                width: 100%;
                border: none;
                outline: none;
                height: 60px;
                padding: 10px 15px;

            }
            input[type=submit]{
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                outline: none;
                height: 60px;
                padding: 10px 25px;
                text-transform: uppercase;
                color: #fff;
                font-size:18px;
                background: #471fcc;
                cursor: pointer;
                font-weight: 700;
            }
        }
    }
    .copyright{
        text-align: center;
        margin-top: 60px;
        .social-icon{
            ul{
                margin: 30px 0;
                padding: 0;
                text-align: center;
                li{
                    display: inline-block;
                    margin: 10px;
                    a{
                        display: block;
                        i{
                            font-size: 42px;
                            color: #fff;
                        }
                    }
                }
            }
        }
        p{
            margin-top: 60px;
            font-size: 18px;
            color: #fff;

        }
    }

}


