@media (max-width: 1500px) {
	.main-content-area:before {
	    width: 50%;    
	    left: 0;
	    right: 0;
	    top: -97%;    
	    height: 2280px;
	    background-size: cover;
	    background-position: 0 0;
	}
	.the-page-startup-area .section h2,
	.the-page-startup-area .startup-content h3 {
	    font-size: 60px;
	}
	.counter-area:before {
	    width: 53%;
	    right: 59px;
	    top: -20%;
	    height: 1445px;
	}
	.speaker-area .single-speaker {
	    margin: 30px 15px;
	}
	.sponser-area:after {
	    width: 41%;
	    right: 5%;
	    top: -100%;
	}
	.main-content-area .content-wrapper .banner-text .right-content {
	    margin-top: 100px;
	    margin-left: 0;
	}
	.the-page-startup-area .image {
	    position: absolute;
	    right: -10%;
	    top: 0;
	}
	.past-editions-area:after {
	    bottom: 318px;
	    right: 10.95%;
	}
	.past-editions-area .image .round-image {
	    position: absolute;
	    bottom: 55px;
	    right: -60px;
	}
	.main-content-area .content-wrapper .banner-text .content h2 {
	    font-size: 38px;
	    font-weight: 800;
	}

}


@media (min-width: 992px) and (max-width: 1600px) {
	.the-page-startup-area .section {
		padding-top: 32px;
	}
	.the-page-startup-area .image img {
		width: 82%;
		height: 988px;
	}
	.the-page-startup-area .image {
		position: absolute;
		right: -30%;
		top: -9%;
	}
	.main-content-area .content-wrapper .banner-text .round2 {
		position: absolute;
		left: 66px;
		bottom: 96px;
		z-index: 999;
		width: 7%;
	}
	.main-content-area .content-wrapper .banner-text .white {
		position: absolute;
		left: -14px;
		bottom: -336px;
		z-index: 0;
		width: 6%;
	}
	.main-content-area .content-wrapper .banner-text .right-content .button {
		margin-top: 138px;
	}
	.main-content-area .content-wrapper .banner-text .right-content .child {
		width: 15%;
		position: absolute;
		top: 5px;
		right: 0;
	}
	.main-content-area .content-wrapper .banner-text .square {
		position: absolute;
		left: -17px;
		bottom: -136px;
		z-index: 0;
		width: 22%;
	}
	.main-content-area .content-wrapper .web2 {
		position: absolute;
		left: -1%;
		top: 26%;
		width: 6%;
	}
	.header-area .main-header .menu-area .main-menu ul li a {
		padding: 30px 31px;
		letter-spacing: 3px;
		color: #535353;
		font-size: 16px;
	}
	.the-page-startup-area .section h2 {
		font-size: 90px;
		color: #5321F7;
		margin-bottom: 0px;
	}
	.main-content-area:before {
		width: 45%;
		content: "";
		position: absolute;
		left: -61px;
		right: 0;
		top: -55%;
		z-index: -1;
		height: 2080px;
	}
	.counter-area:before {
		width: 41%;
	}
}


@media  (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}


@media (max-width: 480px) {
	
}

@media (max-width: 320px) {
	
}